@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Regular', sans-serif;
}

@font-face {
  font-family: 'Roboto Regular';
  src:url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}


body {
  background-color: @bodyBg;
}

.form {
  border-radius: @borderRadius;
  box-shadow: @boxShadow;
  background-color: @formBg;
  width: 100%;
  max-width: 400px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 20px 30px;

  &__title {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: white;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
  }
  a:hover{
    text-decoration: underline;
  }
}

